<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/portfolio.css">
  <title>Document</title>
</head>

<body>
  <div class="navbar">
    <div class="logo">
      NodeAPI
    </div>
    <div class="nav-links">
      {{#if user}}
      <a href="/profile">
        <div class="profile-image">
          {{initials}}
        </div>
      </a>
      <a href="/">Home</a>
      <div class="logout">
        <a href="/auth/logout">Logout</a>
      </div>
      {{else}}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      {{/if}}
    </div>
  </div>

 <section id="profile">
      <div class="section__pic-container">
        <div>{{initials}}</div>
        {{!-- <img src="./assets/profile-ayush.jpeg" alt="Ayush Soni profile picture" /> --}}
      </div>
      <div class="section__text">
        <p class="section__text__p1">Hello, I'm</p>
        <h1 class="title">{{user.name}}</h1>
        <p class="section__text__p2">Software Developer</p>
      </div>
    </section>
    
    <section id="contact">
      <p class="section__text__p1">Get in Touch</p>
      <h1 class="title">Contact Me</h1>
      <div class="contact-info-upper-container">
        <div class="contact-info-container">
          <img
            src="./assets/email.png"
            alt="Email icon"
            class="icon contact-icon email-icon"
          />
          <p><a>{{user.email}}</a></p>
        </div>
      </div>
    </section>
    <footer>
      <p>Copyright &#169; 2023 {{user.email}}. All Rights Reserved.</p>
    </footer>

</body>

</html>